Ej-1 Estadística sumativa

Para el siguiente Dataframe calcula la estadística sumativa para los siguientes datos. Crea el dataset correspondiente:

In [234]:
import pandas as pd

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bs = [1,1,0,0,1]
ms = [2,1,0,0,0]
phd = [0,1,0,0,0]
GradeList = zip(names,grades,bs,ms,phd)

df = pd.DataFrame(data=GradeList, columns=['Name','Grade','BS','MS','PhD'])

df

      Name  Grade  BS  MS  PhD
0      Bob     76   1   2    0
1  Jessica     95   1   1    1
2     Mary     77   0   0    0
3     John     78   0   0    0
4      Mel     99   1   0    0

In [235]:
df['Grade'].count()

5

In [236]:
df['Grade'].mean()

85.0

In [237]:
df['Grade'].std()

11.067971810589327

In [238]:
df['Grade'].min()

76

In [239]:
df['Grade'].max()

99

In [240]:
df['Grade'].quantile(.25)

77.0

In [241]:
df['Grade'].quantile(.5)

78.0

In [242]:
df['Grade'].quantile(.75)

95.0

In [243]:
df['BS'].count()

5

In [244]:
df['BS'].mean()

0.6

In [245]:
df['BS'].std()

0.5477225575051662

In [246]:
df['BS'].min()

0

In [247]:
df['BS'].max()

1

In [248]:
df['BS'].quantile(.25)

0.0

In [249]:
df['BS'].quantile(.50)

1.0

In [250]:
df['BS'].quantile(.75)

1.0

In [251]:
df['MS'].count()

5

In [252]:
df['MS'].std()

0.8944271909999157

In [253]:
df['MS'].mean()

0.6

In [254]:
df['MS'].min()

0

In [255]:
df['MS'].max()

2

In [256]:
df['MS'].quantile(.25)

0.0

In [257]:
df['MS'].quantile(.5)

0.0

In [258]:
df['MS'].quantile(.75)

1.0

In [259]:
df['PhD'].count()

5

In [260]:
df['PhD'].mean()

0.2

In [261]:
df['PhD'].std()

0.44721359549995804

In [262]:
df['PhD'].min()

0

In [263]:
df['PhD'].max()

1

In [264]:
df['PhD'].quantile(.25)

0.0

In [265]:
df['PhD'].quantile(.5)

0.0

In [266]:
df['PhD'].quantile(.75)

0.0

Ej-2 Calculando promedios con dataframes con filtros

Para el siguiente dataframe calcula el promedio de los estudiantes que tienen grado de maestría:

In [267]:
import pandas as pd

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bs = [1,1,0,0,1]
ms = [2,1,0,0,0]
phd = [0,1,0,0,0]
GradeList = zip(names,grades,bs,ms,phd)

df = pd.DataFrame(data=GradeList, columns=['Name','Grade','BS','MS','PhD'])

df

      Name  Grade  BS  MS  PhD
0      Bob     76   1   2    0
1  Jessica     95   1   1    1
2     Mary     77   0   0    0
3     John     78   0   0    0
4      Mel     99   1   0    0

In [268]:
df.loc[df['MS']==0]['Grade'].mean()

84.66666666666667

Ej-3 Ordenamiento

¿Podrías ordenar el dataframe por nombre, edad y grado?

In [269]:
import pandas as pd

Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [270]:
df = df.sort_values(by=['fname', 'age','grade'], ascending=[True, True, True])

df

,fname,lname,gender,age,exercise,hours,grade,address
435,Aaron,Knowles,male,16,4,11,88.7,"596 Warren Drive, Brunswick, GA 31525"
721,Aaron,Salas,male,19,4,10,86.7,"642 Kirkland Rd., Eden Prairie, MN 55347"
340,Abbot,Hall,male,16,4,3,58.9,"84 Rock Creek Lane, Durham, NC 27703"
1690,Abbot,Kramer,male,16,2,8,81.0,"3 Golden Star Rd., Lake Jackson, TX 77566"
1901,Abbot,Kinney,male,16,4,18,87.5,"643 Wakehurst St., Norman, OK 73072"
...,...,...,...,...,...,...,...,...
341,Zia,Ratliff,female,19,2,19,88.4,"654 S. North St., Springfield Gardens, NY 11413"
1915,Zoe,Collins,female,16,2,15,83.7,"235 Mechanic St., Amsterdam, NY 12010"
510,Zorita,Oliver,female,16,2,12,93.1,"691 Main Ave., Twin Falls, ID 83301"
1247,Zorita,Ashley,female,19,1,13,80.4,"362 Jennings Street, Natchez, MS 39120"
1447,Zorita,Benson,female,19,3,12,85.0,"64 Lower River Ave., Shepherdsville, KY 40165"

Ej-4 Correlaciones

Encuentra todas las correlaciones entre los campos de datasets/tamiami.csv

In [271]:
import pandas as pd

Location = "datasets/tamiami.csv"
df = pd.read_csv(Location)

df.head()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
0,1.0,100,1600.0,8.0,12.0,4.16
1,2.0,80,1200.0,6.0,13.0,4.63
2,3.0,450,2800.0,19.0,6.0,0.50
3,4.0,580,4300.0,19.0,2.0,0.47
4,5.0,100,1400.0,6.0,13.0,4.24

In [272]:
df.corr()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
Cart Location,1.000000,0.042705,-0.068923,0.049701,0.077219,-0.138444
Hot Dog Sales,0.042705,1.000000,0.943238,0.913674,-0.919762,-0.966378
Employees in Nearby Office Buildings,-0.068923,0.943238,1.000000,0.856976,-0.874692,-0.881540
Num of Nearby Restaurants,0.049701,0.913674,0.856976,1.000000,-0.761793,-0.933951
Num of Other Food Carts Nearby,0.077219,-0.919762,-0.874692,-0.761793,1.000000,0.860154
Price,-0.138444,-0.966378,-0.881540,-0.933951,0.860154,1.000000

Ej-5 Regresión

Convierte el género (Femenino/Masculino) a un valor numérico (1/0) para construir un nuevo modelo de regresión donde se incluya al género. ¿Mejora esto el coeficiente de determinación R-squared?

In [273]:
import pandas as pd
Location = "datasets/gradedata.csv"

df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [274]:
def score_to_numeric(x):
    if x=='female':
        return 1
    if x=='male':
        return 0

In [275]:
df['gender'].apply(score_to_numeric)

0       1
1       0
2       0
3       1
4       1
       ..
1995    0
1996    1
1997    1
1998    0
1999    0
Name: gender, Length: 2000, dtype: int64

In [276]:
import statsmodels.formula.api as sm
result = sm.ols(formula='grade ~ age + exercise + hours+gender', data=df).fit()

result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.665
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     988.1
Date:                Thu, 07 Apr 2022   Prob (F-statistic):               0.00
Time:                        02:10:32   Log-Likelihood:                -6299.1
No. Observations:                2000   AIC:                         1.261e+04
Df Residuals:                    1995   BIC:                         1.264e+04
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         58.0874      1.326     43.804      0.000      55.487      60.688
gender[T.male]    -0.4485      0.253     -1.773      0.076      -0.944       0.047
age                0.0405      0.075      0.543      0.587      -0.106       0.187
exercise           0.9841      0.089     11.073      0.000       0.810       1.158
hours              1.9173      0.031     61.617      0.000       1.856       1.978
==============================================================================
Omnibus:                      325.522   Durbin-Watson:                   2.048
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2284.723
Skew:                          -0.569   Prob(JB):                         0.00
Kurtosis:                       8.111   Cond. No.                         214.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

--El modelo de regresion si mejora

Ej-6 Comparando Modelos de regresión.

Construye Modelos de Regresión para: 
(1) Grade & Age 
(2) Grade & Excercise 
(3) Grade & Study. 
Si tuvieras que seleccionar uno, ¿Cuál seleccionarías? ¿Porqué?

In [277]:
import pandas as pd
Location = "datasets/gradedata.csv"

df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [278]:
result = sm.ols(formula='grade ~ age', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.1148
Date:                Thu, 07 Apr 2022   Prob (F-statistic):              0.735
Time:                        02:10:33   Log-Likelihood:                -7391.4
No. Observations:                2000   AIC:                         1.479e+04
Df Residuals:                    1998   BIC:                         1.480e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     83.2782      2.142     38.871      0.000      79.077      87.480
age           -0.0436      0.129     -0.339      0.735      -0.296       0.209
==============================================================================
Omnibus:                       18.757   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.432
Skew:                          -0.212   Prob(JB):                     9.94e-05
Kurtosis:                       2.797   Cond. No.                         164.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [279]:
result = sm.ols(formula='grade ~  exercise', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                  0.026
Method:                 Least Squares   F-statistic:                     53.36
Date:                Thu, 07 Apr 2022   Prob (F-statistic):           3.99e-13
Time:                        02:10:33   Log-Likelihood:                -7365.1
No. Observations:                2000   AIC:                         1.473e+04
Df Residuals:                    1998   BIC:                         1.475e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     79.2415      0.502    157.800      0.000      78.257      80.226
exercise       1.1047      0.151      7.305      0.000       0.808       1.401
==============================================================================
Omnibus:                       18.201   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.607
Skew:                          -0.202   Prob(JB):                     0.000150
Kurtosis:                       2.780   Cond. No.                         8.33
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [280]:
result = sm.ols(formula='grade ~ hours', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.643
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     3601.
Date:                Thu, 07 Apr 2022   Prob (F-statistic):               0.00
Time:                        02:10:33   Log-Likelihood:                -6361.0
No. Observations:                2000   AIC:                         1.273e+04
Df Residuals:                    1998   BIC:                         1.274e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     61.4193      0.376    163.544      0.000      60.683      62.156
hours          1.9235      0.032     60.006      0.000       1.861       1.986
==============================================================================
Omnibus:                      303.363   Durbin-Watson:                   2.041
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1929.064
Skew:                          -0.545   Prob(JB):                         0.00
Kurtosis:                       7.686   Cond. No.                         34.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Modelo seleccionado:
3

¿Porqué?

Porque tiene un R-squared mas elevado

Ej-7 Tablas Dinámicas

¿Podrías crear una Tabla Dinámica mostrando la calificación promedio por género de las personas que tuvieron más de 2 horas de ejercicio?

In [281]:
pd.pivot_table(df, index=['gender'], aggfunc='max', values=['exercise'])

        exercise
gender
female         5
male           5

In [282]:
pd.pivot_table(df, index=['fname','gender'], aggfunc='max', values=['exercise'])

                exercise
fname   gender
Aaron   male           4
Abbot   male           4
Abel    male           4
Abigail female         5
Abra    female         2
...                  ...
Zephr   female         5
Zeus    male           2
Zia     female         3
Zoe     female         2
Zorita  female         3

[963 rows x 1 columns]